[Unit]
Description=Data Collector Process

[Service]
# Command to execute when the service is started
ExecStart=/home/pi/environments/oc-rae/bin/python /home/pi/environments/oc-rae/collectData.py
Restart=always
StandardOutput=file:/var/log/collectData

[Install]
WantedBy=default.target
