[Unit]
Description=Data Posting Process

[Service]
# Command to execute when the service is started
ExecStart=/home/pi/environments/oc-rae/bin/python /home/pi/environments/oc-rae/postData.py
Restart=always

[Install]
WantedBy=default.target
